* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

resources/views/components/**.blade.php linguist-detectable=false
resources/views/auth/**.blade.php linguist-detectable=false
resources/views/profile/**.blade.php linguist-detectable=false
resources/views/layouts/**.blade.php linguist-detectable=false
resources/views/livewire/**.blade.php linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
